In [15]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import confusion_matrix
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import resample
from sklearn.metrics import confusion_matrix
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv('train.csv')
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  object
 4   Reco_Insurance_Type      50882 non-null  object
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  object
 8   Health Indicator         39191 non-null  object
 9   Holding_Policy_Duration  30631 non-null  object
 10  Holding_Policy_Type      30631 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB

In [4]:
print(df['Health Indicator'].unique())
print(df['Holding_Policy_Duration'].unique())
print(df['Holding_Policy_Type'].unique())
print(df['Response'].unique())
print(df['Accomodation_Type'].unique())
print(df['Reco_Insurance_Type'].unique())
print(df['Is_Spouse'].unique())

['X1' 'X2' nan 'X4' 'X3' 'X6' 'X5' 'X8' 'X7' 'X9']
['14+' nan '1.0' '3.0' '5.0' '9.0' '14.0' '7.0' '2.0' '11.0' '10.0' '8.0'
 '6.0' '4.0' '13.0' '12.0']
[ 3. nan  1.  4.  2.]
[0 1]
['Rented' 'Owned']
['Individual' 'Joint']
['No' 'Yes']

In [6]:
print(df['Health Indicator'].value_counts())
print(df['Holding_Policy_Duration'].value_counts())
print(df['Holding_Policy_Type'].value_counts())

X1    13010
X2    10332
X3     6762
X4     5743
X5     1727
X6     1280
X7      196
X8       78
X9       63
Name: Health Indicator, dtype: int64
1.0     4499
14+     4335
2.0     4260
3.0     3586
4.0     2771
5.0     2362
6.0     1894
7.0     1645
8.0     1316
9.0     1114
10.0     813
11.0     546
12.0     513
13.0     511
14.0     466
Name: Holding_Policy_Duration, dtype: int64
3.0    13279
1.0     8173
2.0     5005
4.0     4174
Name: Holding_Policy_Type, dtype: int64

In [5]:
df.drop(['City_Code','Region_Code'],axis=1,inplace=True)

In [7]:
df['Health Indicator'].fillna(method='ffill',inplace=True)
df['Holding_Policy_Duration'].fillna(method='ffill',inplace=True)
df['Holding_Policy_Type'].fillna(method='ffill',inplace=True)

In [8]:
df["Accomodation_Type"].replace({"Rented": 0, "Owned": 1}, inplace=True)
df["Is_Spouse"].replace({"No": 0, "Yes": 1}, inplace=True)
df["Reco_Insurance_Type"].replace({"Individual": 0, "Joint": 1}, inplace=True)
#df['Health Indicator'] = df['Health Indicator'].map(lambda x: x.lstrip('X'))
df['Health Indicator'] = df['Health Indicator'].astype(str).str.lstrip('X')
df["Holding_Policy_Duration"].replace({"14+": 15}, inplace=True)

In [9]:

#df['Health Indicator'].astype(str).astype(int)
#df['Holding_Policy_Duration'].astype(str).astype(int)
df[["Health Indicator", "Holding_Policy_Duration"]] = df[["Health Indicator", "Holding_Policy_Duration"]].apply(pd.to_numeric)

In [10]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   Accomodation_Type        50882 non-null  int64
 2   Reco_Insurance_Type      50882 non-null  int64
 3   Upper_Age                50882 non-null  int64
 4   Lower_Age                50882 non-null  int64
 5   Is_Spouse                50882 non-null  int64
 6   Health Indicator         50882 non-null  int64
 7   Holding_Policy_Duration  50882 non-null  float64
 8   Holding_Policy_Type      50882 non-null  float64
 9   Reco_Policy_Cat          50882 non-null  int64
 10  Reco_Policy_Premium      50882 non-null  float64
 11  Response                 50882 non-null  int64
dtypes: float64(3), int64(9)
memory usage: 4.7 MB

,ID,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,0,0,36,36,0,1,15.0,3.0,22,11628.0,0
1,2,1,1,75,22,0,2,15.0,3.0,22,30510.0,0
2,3,1,0,32,32,0,2,1.0,1.0,19,7450.0,1
3,4,1,1,52,48,0,1,15.0,3.0,19,17780.0,0
4,5,0,0,44,44,0,2,3.0,1.0,16,10404.0,0

In [16]:
Y=df['Response']
X=df.drop(['Response'],axis=1)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [17]:
rf = RandomForestClassifier()
rf.fit(X_train, Y_train)
print(rf.score(X_test, Y_test))
yp = rf.predict(X_test)
cm = confusion_matrix(yp, Y_test)
cm

0.7587697749828044

array([[7642, 2296],
       [ 159,   80]], dtype=int64)